#pan-pic{
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 575.98px) {
  #pic-container{
    min-width: 60vw;
  }
}

.s1-h1{
  font-size: 1.375rem!important;
  color: #F95C65;
}

.s1-h2{
  color: #273A5B;
}

.s1-p{
  line-height: 2rem!important;
  color: #273A5B;
}

div.mt-xxl-5{
  margin-top: 8rem !important;
}
